<footer class="footer pt-3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="text-center text-sm text-muted text-lg-start">
          © <script>document.write(new Date().getFullYear())</script> —
          Sistem Multitask Learning dibuat oleh <strong>Deni Gunawan</strong>  
          Untuk Tesis Magister Ilmu Komputer
        </div>
      </div>
      <div class="col-lg-5">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://www.budiluhur.ac.id" class="nav-link text-muted" target="_blank">
             <strong>Universitas Budi Luhur, Jakarta.</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>