    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">  
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="#" class="nav-link text-white p-0 d-flex align-items-center" id="navbarUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ url_for('static', filename='img/marie.jpg') }}" class="avatar avatar-sm rounded-circle me-2" alt="User">
                <div class="text-center">
                  <div class="fw-semibold text-white mb-1" style="font-size: 1rem;">{{ user_name or "Deni" }}</div>
                  <div class="text-white small" style="letter-spacing: 0.20px;">{{ user_role or "Administrator" }}</div>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end px-2 py-2 me-sm-n4" aria-labelledby="navbarUserMenu">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="{{ url_for('ui.logout') }}">
                    <i class="fas fa-sign-out-alt me-2 text-secondary"></i> Keluar
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>