<div class="container">
    <h1>Angular 19 CRUD Example - ItSolutionStuff.com</h1>
    
    <a href="#" routerLink="/jabatan/create/" class="btn btn-success">Create New Post</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Body</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let jabatan of jabatans">
                <td>{{ jabatan.id }}</td>
                <td>{{ jabatan.title }}</td>
                <td>{{ jabatan.body }}</td>
                <td>
                  <a href="#" [routerLink]="['/jabatan/', jabatan.id, 'view']" class="btn btn-info">View</a>
                  <a href="#" [routerLink]="['/jabatan/', jabatan.id, 'edit']" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deleteJabatan(jabatan.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>