venv
uploads/outputs/*
uploads/datasets/*
app/models_cache/*
app/controllers/__pycache__/ui_controller.cpython-311.pyc
app/services/__pycache__/preprocessing_service.cpython-311.pyc
app/__pycache__/__init__.cpython-311.pyc